/*Variables*/
:root {
  --red-100: #bb0c0c;
  --primary-color: #fef0e0;
}

/*Font*/
@font-face {
  font-family: notable;
  src: url(../static/fonts/Notable/Notable-Regular.ttf);
}

@font-face {
  font-family: poppins;
  src: url(../static/fonts/Poppins/Poppins-Regular.ttf);
}
/*css*/
body {
  background-color: var(--primary-color);
  background-image: url("../static/images/backgroud.png");
}

h1 {
  font-family: notable;
  color: var(--red-100);
  font-size: 8.5rem;
  margin-bottom: 0.25rem;
  overflow: hidden;
}

h2 {
  font-family: notable;
  color: transparent;
  font-size: 4rem;
  font-weight: 500;
  margin: 0;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--red-100);
}

h3 {
  font-family: notable;
  color: var(--red-100);
  font-size: 3rem;
  margin-bottom: 0.25rem;
  margin-left: 8rem;
  overflow: hidden;
}

h4 {
  font-family: notable;
  font-size: 2rem;
  margin-bottom: 0;
}

h5 {
  font-family: poppins;

  font-size: 1.75rem;
  margin-top: 0;
}

header {
  display: flex;
  justify-content: space-around;
}
header img {
  margin-top: 2.25rem;
  height: 50rem;
}

.link-image-title img {
  width: 50px;
  height: 50px;
  margin: 0;
}

.link-image-title {
  font-family: poppins;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: fit-content;
  color: var(--primary-color);
  background-color: var(--red-100);
  border: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.406rem;
  padding-bottom: 0.406rem;
  font-size: 1.75rem;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  box-shadow: var(--red-100);
  cursor: pointer;
  text-decoration: none;
}

.link-image-title:hover {
  box-shadow: 0px 0px 20px 2px var(--red-100);
}

#buttons-in-header {
  margin-top: 1.5rem;
  gap: 1rem;
  display: flex;
}

#chevron {
  display: flex;
  flex-direction: column;
  width: 3.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10rem;
}

/*about*/
.highlight {
  color: var(--red-100);
}

#descript {
  font-family: poppins;
  text-align: justify;
}

#about img {
  width: 25rem;
  border-radius: 1rem;
  object-fit: cover;
}

#about p {
  font-size: 1.25rem;
}

#card-profil {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.prentation {
  width: 60% !important;
}

.text-full {
  color: var(--red-100);
}

.text-stoke {
  -webkit-text-stroke-width: 0.5px;
  color: transparent;
  -webkit-text-stroke-color: var(--red-100);
}

@media screen and (max-width: 1200px) {
  header {
    justify-content: center;
    text-align: center;
    margin-top: 15vh;
  }
  header #eiffelTower {
    display: none;
  }
  header h1 {
    font-size: 5rem;
  }
  header h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  #buttons-in-header {
    justify-content: center;
  }
  #chevron {
    margin-top: 5rem;
  }
  .prentation {
    width: 75% !important;
  }
}

@media screen and (max-width: 650px) {
  header {
    margin-top: 22vh;
  }
  header h1 {
    font-size: 3.2rem;
  }
  header h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.5rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  .link-image-title {
    font-size: 1.25rem;
    margin-left: auto;
    margin-right: auto;
  }
  .prentation {
    width: 95% !important;
  }

  #buttons-in-header {
    flex-direction: column;
  }

  .link-image-title img {
    width: 35px;
    height: 35px;
  }
}
